body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h3, h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"], form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
    color: #333;
    width: 100%;
}

form input[type="submit"] {
    padding: 12px;
    background-color: #009879;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button {
    background-color: #008C5F;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #006c47;
}
