body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#welcome {
    text-align: center;
    margin-top: 50px;
}

#welcome h1 {
    font-size: 2.5em;
    color: #009879;
    margin-bottom: 20px;
}

#login {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"], form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
    color: #333;
    width: 100%;
}

form input[type="submit"] {
    padding: 12px;
    background-color: #009879;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #007961;
}

#login_error_message {
    color: red;
    font-size: 1.1em;
    margin-top: 20px;
    text-align: center;
}